a {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

a:hover {
  color:#99b898;
  text-decoration: none;
}

.carousel-item {
  padding: 7% 15%;
  text-align: center;
}

body {
  background-color: #e4e4e4;
}

.sensor {
  width: 500px;
}

#carouselExampleControls {
  text-align: center;
}
@media screen and (max-width: 700px) {
  .sensor {
    width: 370px;
  }
}

@media screen and (max-width: 500px) {
  .sensor {
    width: 250px;
  }
}
